.NavList{
    list-style: none;
    display: flex;
    gap: 40px;
}

.NavLink{
    text-decoration: none;
}

.NavBox {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(199, 199, 199);
    box-shadow: 0 2px 4px rgba(104, 104, 104, 0.1);
    
}

.NavLink a {
    color: black;
}

.NavLink a:hover,
.NavLink a:active {
    color: red;
}